@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&subset=latin-ext');

@import "reset.css";
@import "normalize.css";
@import "grid.css";

*{
    box-sizing: border-box
}
body{ font: 16px/1.5 'Raleway', sans-serif;


}

.ba-container{

    width: 80%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

}



.ba-freshLife{
    background: #f9f8fb url("../images/bg-cahee.png") no-repeat;
    background-size: cover;
    padding-bottom: 410px;

    position: relative;

}

.ba-header {
    padding: 50px 0;

}
.ba-header-menu{

}

.ba-logo{
    float: left;
}
.ba-menu-list{
    float: right;
}

.ba-list-item{
    display: inline-block;
    text-transform: uppercase;
    color: #262626;
    font-weight: 700;
    padding-top: 22px;

    margin-left: 35px;
}


.ba-list-item a{
    text-decoration: none;
    color: #262626;
}
.ba-list-item:hover{
    border-top: solid 3px #ff6033;
    transition: border-top-width 0.4s inherit;
    padding-top: 0;
}

.ba-main-freshLife{
    padding-top: 210px;


}
.ba-title-freshLife{
    font-size: 60px;
    font-weight: 700;
    color: #262626;
}

.ba-main-freshLife p {
    font-size: 1.0625rem;
    font-weight: 300;
    padding-top: 30px;
    width: 370px;
    margin-bottom: 30px;
}

.ba-button{
    background: #ff6033;
    padding: 20px 25px;
    font-size: 1.25rem;
    border: none;
    color: #ffffff;
    text-transform: uppercase;

}

.ba-scroll {
    display: block;
    width: 24px;
    height: 40px;
    position: absolute;
    bottom:70px;
    left: 50%;
    background: url("../images/scroll.svg")no-repeat;
    margin-left: -12px;

}
/*awdadwadw*/

.ba-aboutUs{
    padding: 75px 0;
    background: #00b3b3;
}
.aboutUs--flex{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ba-aboutUs--img{
    width: 50%;

}
.ba-aboutUs--img img {
    width: 100%;
}

.ba-aboutUs--text{

    width: 50%;
    padding-left: 85px;
}

.ba-aboutUs--text h2{
    color: #ffffff;
    font-size: 5.625rem;
    font-weight: 700;
}
.ba-aboutUs--text p {
    font-size: 1.0625rem;
    color: #ffffff;
    font-weight: 300;
}

/*ourServices*/
.container-clearfix{
     content:"";
     display: table;
     clear: both;
 }


.ba-ourServices{
   background: #70bfff;
    padding: 100px 0 150px;
}

.ba-block-ourServices{
    float: left;
    width: 50%;
    padding-left: 100px;
    padding-top: 80px;

}

.ba-block--btn{
    height: 102px;
    width: 400px;
     background-color:#f9f8fb ;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 20px;

}
.block--btn-title{

    width: 75%;

}
.block--btn-title h4 {
    font-size: 1.25rem;
    color: #262626;
    font-weight: 700;
    text-align: center;
    
}

.block--btn-img{
    width: 25%;
    height: 100%;
    border-left:1px solid #9d9d9d;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.block--btn-img:active{
    transform: scale(1.05);
    transition: all .2s ease;
    background: #b9b9b9;
    border:1px solid  #9d9d9d;
}
.block--btn-img img {
    display: block;
    margin: 0 auto;
}
.ba-box--title{

    height: 527px;
    float: left;

    background-image:url("../images/pomidoros.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;

}

.ba-box--title h2{

    font-size: 5.225rem;
    color: #ffffff;
    font-weight: 700;
    text-align: center;

}

/* gallery*/

.ba-width__img img{
    width: 100%;
}

.ba-gallery{
    background: #ffe92f;
    padding-bottom: 120px;

}

.ba-width__img img{
    width: 100%;
}

.ba-title-gallery{
    display: block;
    max-width: 600px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding: 95px 0 40px 0;

}
.ba-title-gallery h2{
    font-size: 5.525rem;
    color: #262626;
    font-weight: 700;

}

.ba-title-gallery p {
    font-size: 1.0625rem;

    color: #262626;

    font-weight: 300;

}
.ba-button-viewMore{
    background: #5585a2;
    padding: 15px 40px;
    border: none;
    font-weight: 300;
    font-size: 1.25rem;
    color: #ffffff;
    display: block;
    margin: 50px auto 0 auto;

}

.ba-SubscribeToUs{
    background: #ffffff url("../images/subscribe-bg.png") 50% no-repeat;

    background-size: cover;
}
.ba-subscribe-container{
        padding-top: 140px;
    padding-bottom: 163px;
}

.ba-subscribe-container h2{
    font-size: 2.5rem;
    color: #262626;
    font-weight: 700;


}

.ba-subscribe-container p{
    width: 545px;
    font-size: 1.0625rem;
    color: #262626;
    font-weight: 300;
   margin: 10px 0 30px 0;
}

[placeholder="Your email address..."]{
    color: #bababa;
    background: #ffffff;
    border-color: #252525;
    padding: 16px 0 16px 10px;
    width: 560px;
    margin-right: 30px;
}
[type="button"]{
    background: #96b92c;
    color: #dce8b9;
    padding: 15px 25px;
    border: none;
}

/*BLOG*/

.ba-blog{
    background: #b07cf7;
}

.ba-blog-container{

    padding: 90px 0 115px 0;
}

.ba-blog-container h2{
    font-size: 5.625rem;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}

.ba-blog-container p{

    width: 570px;
    font-size: 1.0625rem;
    color: #ffffff;
    font-weight: 300;
    margin: 0 auto 40px;
    text-align: center;

}


.ba-width-1-3--blog:nth-child(4n-3)>div{
    background: #d4d4d6 url("../images/blog-img-1.png") 50% no-repeat;
    background-size: cover;
    height: 326px;
    position: relative;
}

.ba-width-1-3--blog:nth-child(4n-2)>div{
    background: #d4d4d6 url("../images/blog-img-2.png")50% no-repeat;
    background-size: cover;
    height: 326px;
    position: relative;
}

.ba-width-1-3--blog:nth-child(4n-1)>div{
    background: #d4d4d6 url("../images/blog-img-3.png") 50% no-repeat;
    background-size: cover;
    height: 326px;
    position: relative;
}

.ba-nov{
    position: absolute;
    left: 30px;
    top: 30px;
    width: 60px;
    height: 60px;
    background: rgba(0,0,0,0.2);
    border-radius:5px;
}
.ba-nov h2 {
    font-size: 32px;
    line-height: 29px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}
.ba-nov span {
    font-size: 21px;
}

.ba-nov__text{
    position: absolute;
    bottom: 15px;
    left: 15px;}
.ba-nov__text h3{
    font-size: 20px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 700;
}
.ba-nov__text h5 {
    font-size: 14px;
    color: #ffffff;
}


.ba-blog-container button{
    background: #f72b3b;
    color: #dce8b9;
    padding: 15px 25px;
    border: none;
    text-transform: uppercase;
    display: block;
    margin: 45px auto 0;


}

/* contact */


footer{
    background: #2e72a7 url("../images/contact_bg.png") no-repeat 50%;
    background-size: cover;
    min-height: 100vh;
    padding: 95px 0 120px;
    position: relative;
}

footer:after,footer:before{
    content: "";
    display: table;
}

footer:after{
    clear: both;
}

.contact-block__title{
    width: 370px;
    margin: 0 auto;
    padding-bottom: 35px;

}
.contact-block__title h3{
    font-size: 5.625rem;
    color: #262626;
    font-weight: 700;
    text-align: center;
}

.contact-block__title p {

    font-size: 1.0625rem;

    color: #262626;

    font-weight: 300;
    text-align: center;
}


.block-form--left{
    width: 50%;
    float: left;
    padding-right: 85px;

}

.contact-form{
    width: 100%;
}

.contact-block--right{
    width: 50%;
    float: right;
    padding-left: 85px;
    padding-right: 140px;
}

.contact-block--right h5{
    font-size: 1.0625rem;
    color: #262626;
    font-weight: 700;
}

.contact-block--right h6{

    font-size: 1.0625rem;
    color: #4e4e4e;
    font-weight: 700;
    padding-bottom: 15px;
}


[type="text"]{
    width: 100%;
    border: none;
    background-color:#64d1d5 ;
    color: #ffffff;

    height: 45px;
    margin-bottom: 15px;

    padding: 17px 17px;
}

[name="comment"]{
    width: 100%;
    border: none;

    color: #ffffff;
    background-color: #64d1d5;
    height: 250px;

    padding: 17px 17px;
}

/**/

.footer-bottom--line{
    width: 100%;
    height: 90px;
    background-color: #262626;
    padding: 15px 0;
    position: absolute;
    bottom: -90px;

    display: flex;
    align-items: center;
}

.flex-bottom{

    display: flex;
    flex-direction: row;
    justify-content: center;

}

.logo{
    display: flex;
    justify-content: center;
    width: 14%;
}
.footer-bottom--text{

    width: 43%;
    float: left;

    font-size: 1rem;

    color: #b9b9b9;

    font-weight: 300;
}
.footer-bottom--text h6 span{
    color:#ff2b58;
}

.float-right{
    float: right;
}
